#artContainer,
#artContainer svg {
    width: 400px;
    border-radius: 20px;
    margin: 0;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

#buttons > button {
    width: 90px;
    padding: 10px;
    border-radius: 50px;
}
