.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#Main {
    margin: 10% 0;
    width: 70%;
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#poetry {
    min-width: 100%;
}
